.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
}

@media (min-width:500px) and (max-width:1000px) {
  .lead__caption {
      margin-left: 24px; 
 }
}

@media (min-width:320px) and (max-width:500px) {
  .lead__caption {
    margin-left: 16px; 
  }
}
