@import url(./__menu/footer__menu.css);
@import url(./__row/footer__row.css);
@import url(./__row-links/footer__row-links.css);
@import url(./__row-link//footer__row-link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
  align-items: baseline;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
  }
}