.place__paragraphes {

}

@media (max-width: 720px)
{
    .place__paragraphes {
         max-width: 400px;
         justify-self: center;
    }
}


@media (max-width: 400px)
{
    .place__paragraphes {
         max-width: 288px;
         justify-self: center;
    }
}